* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  bg-color: red;
}

/* UTILITY */
.bg-green {
  border: none;
  background-color: #91C52B;
}

.bg-purple {
  background-color: #0C325A;
  border: 1px solid white;
}

/* UTILITY */
/* header */
header {
  background-color: #0C325A;
}

.container {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

header nav {
  height: 90px;
  line-height: 90px;
}

header nav .logo {
  margin-right: 20px;
  display: inline-block;
}

header nav .logo img {
  padding-bottom: 13px;
  vertical-align: middle;
}

header nav ul {
  display: inline-block;
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  margin-left: 15px;
}

header nav ul.btn-list {
  color: white;
  float: right;
  margin-left: 20px;
}

header nav ul.btn-list li button {
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  margin-left: 15px;
  font-size: 12px;
}

/* jumbotron */
header .jumbo {
  height: 450px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 366px 16px;
  background-image: url('../img/background-header.png');
}

.jumbo-content {
  margin:0 100px;
  position: absolute;
  padding-bottom: 150px;
  padding-top: 100px;
}

.jumbo-content .text-jumbo {
  padding-bottom: 40px;
  color: white;
  font-size: 22px;
}

header .jumbo button {
  border: none;
  padding: 20px 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
/* jumbotron */
/* header */


/* main */
.row:after {
  content: "";
  display: table;
  clear: both;
}
[class^="col-"] {
  float: left;
  margin: 40px 0;
}

.bg-lightgrey {
  background-color: #D3D3D3;
}

.col-100 {
  width: 100%;
  text-align: center;
}
.col-33 {
  width: calc(100% / 3)
}

 main .content-col-100 h3 {
   padding-bottom: 25px;
   font-size: 25px;
}

main .content-col-100 p {
  color: grey;
  font-size: 20px;
  padding-bottom: 10px;
}

[class^="main-img-"] {
  height: 200px;
}
.main-img-profile {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/profile.svg');
}
.main-img-computer {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/computer.svg');
}
.main-img-doc {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/doc.svg');
}




/* main */
